{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "max-len": ["error", 120, 2, {"ignoreComments": true}],
    "no-console": "off",
    "quotes": "off",
    "object-curly-spacing": ["error", "never"],

    "react/jsx-no-bind": ["error", {"allowArrowFunctions": true}],
    "react/jsx-indent": ["error", 2],
    "react/jsx-key": "error",

    "react-native/no-unused-styles": "error",
    "react-native/split-platform-components": "error"
  }
}
